<div class="row">
    <div class="col-md-5">
        <form>
            <div class="form-group">
                <label for="loginEmail">Email</label>
                <input type="email" class="form-control form-control-sm" value="rampukar@mi.com" id="loginEmail" aria-describedby="emailHelp"
                    placeholder="Email">
            </div>
            <div class="form-group">
                <label for="loginPassword">Password</label>
                <input type="password" value="rampukar" class="form-control form-control-sm" id="loginPassword" placeholder="Password">
            </div>
            <p></p>
            <button type="button" (click)="doLogin()" class="btn btn-primary btn-sm">Login</button>&nbsp;
            <button type="button" (click)="doAccessToken()" class="btn btn-secondary btn-sm">AccessToken</button>&nbsp;
            <button type="button" (click)="onUnauthorize()" class="btn btn-secondary btn-sm">Unauthorize</button>&nbsp;
            <button type="button" (click)="onLoginToken()" class="btn btn-danger btn-sm">Login Token</button>&nbsp;
        </form>
    </div>
</div>